@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Calistoga&family=Chivo:ital,wght@0,100..900;1,100..900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Lexend+Exa:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Nabla&family=Nosifer&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playball&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
hr {
  opacity: 0.5;
}
body {
  background-color: #000000;
  z-index: -1;
}
/* Hero ...                                                                      */
#content {
  animation: lefttoright 0.9s ease-out forwards;
}
@keyframes lefttoright {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }

}
/* nav animation */
.head_container {
  animation: TopToBottom 0.5s linear forwards;
}
@keyframes TopToBottom {
  0%{
      opacity: 0;
      transform: translateY(-100%);
  }
  100%{
      opacity: 1;
      transform: translateY(0);
  }

}
/* footer links animation */
.social-login-icons {
  animation: zoomIn 0.5s linear forwards;
  transition: all 0.3s;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0%{
      transform: scale(0);
  }
  100%{
      transform: scale(1);
  }

}
.head_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
    transition: 0.5s;
}
.head_container:hover::before {
    left: 100%;
}
.head_container{
  width: 50%;
  position:fixed;
  overflow: hidden;
  top: 1rem;
  left: 25%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
  gap: 2rem;
  padding: 0.65rem 2rem;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2)
}
.nav-container {
    position: relative;
    padding: 0.25rem;
}
  
.nav-container::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -10;
    filter: blur(0.1rem);
    transition: filter 0.4s ease-in-out;
}
  
.nav-container:hover::before {
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    filter: blur(1.2em);
}
  .nav-container:active::before {
    filter: blur(0.2em);
}
main{
  background-color: #212121;
  z-index: -1;
}
/* color GRADIENTS */
/* .hero-section {
  background: linear-gradient(180deg,#000000, #b2a39d) !important;
}
#skills {
  background: linear-gradient(180deg,#b2a39d, #291a40) !important;
} */
#hero-section {
  background: linear-gradient(180deg,#000000, #98bbf5) !important;
}
#skills {
  background: linear-gradient(180deg,#98bbf5, #291a40) !important;
}
#work {
  background: linear-gradient(180deg,#291a40, #b6b6b6) !important;
}
#education {
  background: linear-gradient(180deg,#b6b6b6, #1f1b1d) !important;
}

.logo a{
    color: orange;
    font-size: 1.75rem;
    text-decoration: none;
    font-family: Nabla;
}
.navbar {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.navbar a {
    color: #956afa;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Nabla;

    /* margin-left: 35px; */
}
#hero-section {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-text {
    font-size: 4.4rem;
    font-weight: bold;
    color: aliceblue;

}
.texts .kevish {
    color: orange;
    font-weight: 600;
    font-family: Sour Gummy;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
}


.hero_card {
  width: 100%;
    --bg-color: #212121;
    background-color: var(--bg-color);
    padding: 0.5rem 1rem;
    /* border-radius: 1.25rem; */
}
.hero_emo{
  font-size: 2rem;
  text-align: center;
  position: relative;
  left: -11.75rem;
  top: -1rem;
  animation: namaste infinite 3s ease-in-out;
  transition: all 0.3s;
  opacity: 0;

}
@keyframes namaste {
  0% {
    left: -11.75rem;
    top: -1rem;
  }
  50% {
    left: 2rem;
  }
}
.hero-text:hover + .hero_emo {
  opacity: 1;
}
.loader {
    color: #d0d0d0;
    font-size: 1.65rem;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 2.5rem;
    padding: 0.7rem 0.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
}
  
.words {
    overflow: hidden;
    position: relative;
}
.words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      var(--bg-color) 10%,
      transparent 30%,
      transparent 70%,
      var(--bg-color) 90%
    );
    /* z-index: 1; */
}
  
.word {
    display: block;
    height: 100%;
    padding-left: 0.5rem;
    color: #956afa;
    animation: spin 6s infinite 1s;
}
  
@keyframes spin {
    10% {
      -webkit-transform: translateY(-102%);
      transform: translateY(-102%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-202%);
      transform: translateY(-202%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-302%);
      transform: translateY(-302%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-402%);
      transform: translateY(-402%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
}
  
.bubble {
    position: absolute;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    box-shadow: inset 0 0 1.5rem rgba (255, 255, 255, 0.25);
    animation: animate_4010 8s ease-in-out infinite;
}
  
.bubble:nth-child(2) {
    position: relative;
    zoom: 0.45;
    left: -10px;
    top: -100px;
    animation-delay: -4s;
}
  
.bubble:nth-child(3) {
    position: relative;
    zoom: 0.45;
    right: -80px;
    top: -300px;
    animation-delay: -6s;
}
  
.bubble:nth-child(4) {
    position: relative;
    zoom: 0.35;
    left: -120px;
    bottom: -200px;
    animation-delay: -3s;
}
  
.bubble:nth-child(5) {
    position: relative;
    zoom: 0.5;
    left: 0px;
    top: 200px;
    animation-delay: -5s;
}
  
@keyframes animate_4010 {
    0%,100% {
      transform: translateY(-1.25rem);
    }
  
    50% {
      transform: translateY(1.25rem);
    }
}
  
.bubble::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 45px;
    width: 1.88rem;
    height: 1.88rem;
    border-radius: 50%;
    background: #fff;
    /* z-index: 1; */
    filter: blur(5px);
}
  
.bubble::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 80px;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: #fff;
    /* z-index: 1; */
    filter: blur(5px);
}
  
.bubble span {
    position: absolute;
    border-radius: 50%;
}
  
.bubble span:nth-child(1) {
    inset: 10px;
    border-left: 15px solid #0fb4ff;
    filter: blur(8px);
}
  
.bubble span:nth-child(2) {
    inset: 10px;
    border-right: 15px solid #ff4484;
    filter: blur(8px);
}
  
.bubble span:nth-child(3) {
    inset: 10px;
    border-top: 15px solid #ffeb3b;
    filter: blur(8px);
}
  
.bubble span:nth-child(4) {
    inset: 30px;
    border-left: 15px solid #ff4484;
    filter: blur(12px);
}
  
.bubble span:nth-child(5) {
    inset: 10px;
    border-bottom: 10px solid #fff;
    filter: blur(8px);
    transform: rotate(330deg);
}

@media screen and (max-width: 769px) {
    .head_container{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

}
@media screen and (max-width: 645px) {
    .hero_card{
        display: none;
    }
}

/* hero End ...                                                     */

/* Skills ...                                                       */

#skills {
  padding-top: 5rem;
}

.skills_heading p{
    color: #fff;
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
  }
  .skills_heading span{
    color: orange;
    font-weight: bolder;
  }
.skills_container {
    margin-top: 1rem;
    width: 100vw;
    height: fit-content;
    min-height: 90vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
  }
  
  .skills_cards img {
    width: 170px;
    height: 170px;
    object-fit: cover;
  }
  .skills_cards {
    text-align: center;
    font-size: x-large;
  }
  
  .skills_section1 {
      max-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
  
  }
  .skills_section2 {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  
  }
  .skills_section3 {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  
  }
  .skills_section4 {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  
  }
  .skills_section5 {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  
  }
  
  
  .skills_card {
      position: relative;
      width: 200px;
      height: 250px;
      border-radius: 14px;
      /* z-index: 1; */
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff; */
      ;
    }


  
    .skills_bg {
      padding: 0.7rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      /* top: 5px;
      left: 5px; */
      width: 190px;
      height: 240px;
      z-index: 1;
      background: rgba(255, 255, 255, 0.9);
      /* backdrop-filter: blur(12px); */
      border-radius: 0.7rem;
      overflow: hidden;
      outline: 1px solid white;
    }
    
    .skills_blob {
      position: absolute;
      /* z-index: 1; */
      top: 50%;
      left: 50%;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color:#956afa;
      opacity: 1;
      filter: blur(12px);
      animation: blob-bounce 5s infinite ease;
    }
    
    @keyframes blob-bounce {
      0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
      }
    
      25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
      }
    
      50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
      }
    
      75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
      }
    
      100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
      }
    }
  
  .skills_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .skills_cards .skills_card {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    color: white;
    cursor: pointer; */
    transition: 400ms;
  }
  
  
  .skills_cards .skills_card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .skills_cards:hover > .skills_card:not(:hover) {
    filter: blur(6px);
    transform: scale(0.9, 0.9);
  }

/* Skills End ...                                               */

/* Work ...                                                     */

#work {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.work_heading p{
    color: #fff;
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
  }
  .work_heading span{
    color: #956afa;
    font-weight: bolder;
  }

  .work_hero {
    /* margin-top: 2rem; */
    padding: 2rem;
    width: 100vw;
    height: fit-content;
    min-height: 93vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
.work_display1 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* width: 70vw; */
    margin-top: 2rem;
}

.work_hero a {
    text-decoration: none;
}
.work_card {
    height: fit-content;
    /* width: 70vw; */
    border: none;
    box-shadow: 0px 0px 10px 2px #212121;
}
.work_card img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* border-radius: 2%; */
    transition: 0.75s;
}
.work_card .para {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
}
.work_card p {
    display: inline;
    font-size: 1.85rem;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}
.work_card p:nth-child(1):hover {
    color: orange;
}
.work_card #code:hover {
    color: #956afa;
    cursor: pointer;
}

.work_btn {
    padding: 0.2em 0.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    transition: .3s;
    z-index: 1;
}

.work_btn::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease-in-out;
    display: block;
    z-index: -1;
}

.work_btn:hover::before {
    width: 105%;
}

/* Work End ...                                                      */


/* Education ...                                                     */

#education {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edu_heading p{
    color: #fff;
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
  }
  .edu_heading span{
    color: orange;
    font-weight: bolder;
  }

.edu_card h2 {
    font-size: 1.9rem;
    font-weight: bold;
    color: #956afa;
}
.edu_card p {
  color: #fff;
  font-size: 1.25rem;
}
.edu_card p:nth-child(3) {
    color: orange;
}
.edu_wrapper {
    width: 80vw;
    height: fit-content;
    min-height: 70vh;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.edu_img_box {
  height: 75%;
  width: 100%;
}
 .edu_card img {
    height: 100%;
    width: 100%;
    object-fit: contain;
 }

.edu_card {
  border-end-start-radius: 2%;
  border-end-end-radius: 2%;
  min-height: 50vh;
  width: 50%;
  background-color: #212121;
  overflow: hidden;
}
.edu_card .edu_content {
  padding: 1rem 0;
}

/* Education End ...                                */

/* Connect ...                                      */



/* Connect End ...                                  */

/* Footer links ...                                  */

/* footer {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.social-login-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;

}
.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-2,
.social-icon-3,
.social-icon-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.socialcontainer {
  height: 50px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}
.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-50px);
}
.social-icon-2 {
  transition-duration: 0.4s;
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-50px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  background: rgb(255, 33, 33);
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-50px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  background: #0A66C2;
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-50px);
}


.down {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.btn_a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.397);
  background: #956afa;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 600;
  gap: 8px;
  border-radius: 5px;
  margin: 0 5px;
  transition: 0.2s;
  border: 1px solid transparent;
  z-index: 3;
}

.btn_a:hover {
  box-shadow: 0 6px orange;
  transform: translateY(-6px);
}

.btn_a:active {
  transform: translateY(2px);
  box-shadow: none;
}

/* Footer Links End ...                               */