@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.translate {
    animation: lefttoright 1s ease forwards;
  }
  @keyframes lefttoright {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
.header {
    width: 100vw;
    top: 0;
    left: 0;
    background: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2)
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
    transition: 0.5s;
}
.header:hover::before {
    left: 100%;
}
  
.nav-container {
    position: relative;
    padding: 3px;
}
  
.nav-container::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -10;
    filter: blur(0.1rem);
    transition: filter 0.4s ease-in-out;
}
  
.nav-container:hover::before {
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    filter: blur(1.2em);
}
  .nav-container:active::before {
    filter: blur(0.2em);
}
  

.logo a{
    color: orange;
    font-size: 25px;
    text-decoration: none;
    font-weight: bolder;
}

.navbar a {
    color: #956afa;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 35px;
}



main {
    background-color: black;
}
.heading p{
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    z-index: inherit;
  }
  .heading span{
    color: orange;
    font-weight: bolder;
    background-image: linear-gradient(#fff,#fff);
    background-size: 0 5px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    border-radius: 15px;
  }
  .heading span:hover {
    background-size: 100% 5px;
  
  }
  main {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
.edu {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7rem;
}
.edu1 {
    background-color: white;
    width: 90%;
    height: 200px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.edu2 {
    background-color: white;
    width: 90%;
    height: 200px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.edu img {
    background-color: white;
    width: 320px;
    height: 200px;
    object-fit: cover;
    
}
.edu .anss {
    transform: scaleY(1.365);
    
}
.edu .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 25px;
}
h2 {
    font-size: 30px;
    font-weight: bold;
    color: #956afa;
}
.card p {
    font-size: 20px;
}
.card p:nth-child(3) {
    color: green;
}
.card {
    transition: 0.5s;
}
.card:hover {
    box-shadow: -15px 0px 5px rgba(225, 165, 0, 0.9) inset;
}